.Gallery{
    margin:10px 50px;
    text-align: center;
  }
  
  .Gallery img{
    transition: 1s;
    padding: 15px;
    width:200px;
  }
  
  .Gallery img:hover{
    filter:grayscale(70%);
    transform: scale(1.1);
  }